modules = ["nodejs-20", "web", "bash", "postgresql-16"]
[nix]
channel = "stable-25_05"
packages = ["unzip", "imagemagick"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5051
externalPort = 3000

[deployment]
run = ["node", "./dist/index.cjs"]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
GOOGLE_LEADS_SHEET_ID = "11nLlSox44uim2VGAr9Gu-_jvJgY82MmRf07LBWRk3mM"
GOOGLE_CALENDAR_ID = "hola@exentax.com"
VITE_GA4_ID = "G-NTSDN0Y9YN"
DISCORD_WEBHOOK_REGISTROS = "https://discord.com/api/webhooks/1493950101176189004/d9D2H1Y7prC0hS2iXuuy32kYRao5gqSE2v8a7H7KjxkG89yNbiEyrsRMe18MN59utYCG"
DISCORD_WEBHOOK_CALCULADORA = "https://discord.com/api/webhooks/1493950263965253682/BbmzpBX4zFUZu1keo1Vdbh5rYe4oXH5J0HRFEAPkgPjhNp_OQh-LW3F-SeyniquiT4S0"
DISCORD_WEBHOOK_ACTIVIDAD = "https://discord.com/api/webhooks/1493950388351668345/-1ub0TEi7pO-gPKWrhm0oWV8WuV4_pM5T8JKwQ44EwZK7N2I0WB6t0YwD6Dqk1MQgw6s"
DISCORD_WEBHOOK_AGENDA = "https://discord.com/api/webhooks/1493950563690483746/GXPot9aLyNUuZlGW_O0kmViFiMcSJsIhU4bFHFm-ihZFZCmXfkyDPAmrKvqE6esmdMlb"
DISCORD_WEBHOOK_CONSENTIMIENTOS = "https://discord.com/api/webhooks/1493950801528488007/w1zmjtZ_Jm0dTdn0EF-GIgcAp0C4MGvN8zPnx8V2ZrKTlf9CoSFz-XMKLCdm2_3xVhCp"

[userenv.development]
SEED_TEST_CLIENT = "true"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000
